@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1111AD;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --bg-color: #FFFFFF;
}

.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--bg-color);
}
body{
    overflow-x: hidden;
}
section,
nav {
    width: 85%;
    margin: auto;
    max-width: 1200px;
}

/* =============Nav============== */
.logo {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 16px 24px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    border-radius: 3.975em;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button-hover:hover {
    background: #FFFFFF;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-container {
    position: fixed;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 10;
    background: var(--bg-color);
}

.navbar {
    padding: 1.5em;
}

.nav-container .menu {
    display: none;
}

.logo-nav {
    color: var(--primary-color);
    font-size: 38px;
}

.hero h1 {
    font-size: 40px;
    margin: 0;
    color: var(--primary-color);
    letter-spacing: 0.5px
}

.hero h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

/* ============Hero section========== */
.hero-container {
    padding-top: 98.4px;
}

.hero {
    height: calc(100vh - 98.4px);

}

.btn-mobile button {
    display: none;
}

.img-1 {
    width: 260px;
  
}

.hero-para-slide h2 {
    font-size: 19px;
    text-align: start;
    font-weight: 600;
}

.hero-para-slide p {

    font-size: 12px;
}

.hero-txt-slide h2 {
    font-size: 19px;
    color: var(--primary-color);
    font-weight: 600;
}

.img-desktop {
    display: flex;
   width: 298px;
   height: 461px;
   min-width: fit-content;
   min-height: fit-content;

}

.img-mobile {
    display: none;
}


.dot {
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: expand 1s infinite alternate; 
}



.line-show {
    position: absolute;
    bottom: 11%;
    left: 21.15%;
    width: 2.5px;
    height: 50px;
    border-radius: 0.2em;
    z-index: 5;
    background-color: var(--primary-color);
}
.line-phone,.hide-pc{
    display: none;
}
@media screen and (max-width: 990px) {
    .nav-container .menu {
        display: flex;
    }

    .nav-container .nav-list,
    .nav-container .download-text {
        display: none;
    }
    button{
        padding: 12px;
    }
   
}

@media screen and (max-width: 768px) {

    section,
    nav {
        width: 90%;

    }

    .logo-nav {
        text-align: center;
        font-size: 24px;
    }

   

    .navbar {
        padding: 0.5em;
        width: calc(100% - 1em);
    }

    .hero-container {
        padding-top: 90px;
    }

    .hero {
        height: auto;

    }

    .btn-desktop button {
        display: none;
    }

    .btn-mobile button {
        display: flex;
        height: 56px;
        padding: 0.35em 2em;
        border-radius: 0.5em !important;
    }

    .img-1,
    .img-2 {
        width: 164px;
      
    }

    .hero-para-slide h2 {
        text-align: start;
        font-size: 12px;
        font-weight: 600;
    }

    .hero-para-slide p {
        font-size: 8px;
    }

    .svg-1 {
        width: 10px;
        height: 9px;
    }

    .svg-2 {
        width: 10px;
        height: 12px;
    }

    .logo-inside-img {
        font-size: 12px;
    }

    .hero-txt-slide h2 {
        font-size: 12px;
        font-weight: 600;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: flex;
    }

 
    .dot {
        position: absolute;
        bottom: 30%;
        left: 20%;
    }
    .line-show {
        bottom: 18%;
        left: 21.9%;
    }
    button{
        padding: 12px;
    }
    .line-phone{
        display: flex;
        top:8%;
        left: 30%;
    }
    .hide-pc{
        display: flex;

    }

}
@media  screen and (max-width:680px) {
    .hero h1 {
        font-size: 24px;
        line-height: 160%;
    }

    .hero h2 {
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        line-height: 160%;

    }
}

/* second fold */
.second-fold{
    margin-top: 50px;
}
.second-fold h1{
    line-height:135%;
    font-size:48px;
    font-weight:600;
    max-width: 832px;
   
}
.second-fold p{
    line-height: 175%;
    font-size:24px;
}
.head1{
    font-size: 48px;
    line-height: 135%;
    font-weight: 600;
    color: var(--primary-color);
}
.side-head{
    font-size: 48px;
    line-height: 135%;
    font-weight: 600;
    max-width: 644px;
   
}
.side-head span{
    color: var(--primary-color);
}
@media screen and (max-width: 768px) {
    .second-fold{
        margin-top: 2.563em;
    }
    .second-fold h1{
        line-height:135%;
        font-size:24px;
        font-weight:600;
        max-width: 100%;
        text-align: center;
       
    }
    .second-fold p{
        line-height: 175%;
        font-size:16px;
        text-align: center;
    }
    .phone-wrapper{
   flex-direction: column-reverse;
    }
    .head1{
        font-size: 24px;
    }
    .side-head{
        font-size: 24px;
        text-align: center;
        max-width: 100%;
        margin-top: 30px;
    }
}



/* animated part css */

.left-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
  
    
   
}

.txt-app-wrapper {
    position: relative;
}

.txt-app-wrapper h3 {
    font-size: 42px;
}
.txt-app-wrapper span{
    color: var(--primary-color);
}

.right-wrapper {
    position: sticky;
    top: 2%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone{
    z-index: 100;
   height: 70%;
    box-shadow: rgba(23, 23, 23, 0) 0px 30px 60px -12px, rgba(0, 0, 0, 0) 0px 18px 36px -18px;

  
}

.iphone-wrapper {
    position: sticky;
    z-index: 10;
    width: 100%;
    height: 100vh;
    max-height: 1050px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.inner-image {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper,.img-wrapper1,.img-wrapper2 {
    position: absolute;
    z-index: 2;
    width: 100%;
   height: 68%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone-shadow{
    position: absolute;
    z-index: 1;
    top: 16%;
    left: 30%;
    max-height: 100%;
}
.video-blob {
    position: absolute;
    top: 0%;
    z-index: -1;
    height: 100vh;
    display: block;
    max-height: 100%;
    min-height: 300px;
}
.blur-fold{display: none;}
@media screen and (max-width:768px) {
    .container-lens .left-container {
        order: 1;
    }
    .txt-app-wrapper h3 {
        font-size: 28px;
        text-align: center;
        color: var(--text-color);
    }
  .container-lens .right-wrapper{
    padding-top: 4em;
  }
    .container-lens .right-wrapper {
        order: 0;
        background-color: var(--bg-color);
        height: fit-content;
    }
    .container-lens .iphone-wrapper{
       height: 0;
    }
   .inner-image{
    height: 98%;
   }
    .left-wrapper {
        height: 80vh;
    }
    .container-lens .video-blob {
        display: none;
    }
    .blur-fold{
        position: relative;
        display: flex;
        bottom: 0;
        height: 34px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0% 0%, rgba(255, 255, 255, 0) 0% 50%);
    }
    .iphone{
        height: 100%;
    }
    .img-wrapper,.img-wrapper1,.img-wrapper2{
        height: 100%;
    }
    
    
   
}
/* animated part css end */
.mid-section h2{
    font-size: 32px;
    color: var(--primary-color);
    width: 80%;
    margin: auto;
    line-height: 160%;
}
.mid-section h3{
    font-size: 24px;
    line-height: 160%;
    font-weight: normal;
    max-width: 77%;
    margin: auto;
}
.feature-box{
    width: 352px;
    height: 484px;
}
.feature-box h2{
    font-size: 24px;
}
@media screen and (max-width:768px) {
    .mid-section h2{
        font-size: 20px;
      width: inherit;
    }
    .mid-section h3{
        font-size: 16px;
        max-width: 100%;
    }
}