@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1C61C0;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --bg-color: #FFFFFF;
    --card-box: rgba(250, 250, 250);
    --card-border: #DCDCDC;
    --logo-color: #1111AD;
    --button: #030319;

}

.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
    --logo-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --card-border: rgba(250, 250, 250, 0.1);
    --card-box: rgba(250, 250, 250, 0.1);
    --button: #8437F9;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    color: var(--text-color);
    background: var(--bg-color);
}

body {
    overflow-x: hidden;
}

/* ----------------common  css----------------- */
.bg-default {
    background: var(--bg-color);
}

section,
nav {
    width: 85%;
    margin: auto;
    max-width: 1280px;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

p {
    color: var(--text-color);
}

section {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 16px 24px;
    background-color: #8437F9;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 700;
    border-radius: 12px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
    height: 56px;
}

.highlight-font {
    font-family: "Bricolage Grotesque", sans-serif;

}

.outline {
    background-color: white;
    border: 2px solid black;
    color: #000000;
}

.outline.fill {
    background-color: var(--button);
    border: none;
    color: #ffffff;
}

.btn-mobile button {
    display: none;
}

@media screen and (max-width: 768px) {
    .btn-desktop button {
        display: none;
    }

    .btn-mobile button {
        display: flex;
        height: 56px;
        border-radius: 0.5em !important;
    }

    .center-text-mobile {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

/* -----------common css end----------------- */
.text-gradient {
    background: linear-gradient(to right,
            #8437F9 0%,
            #8437F9 6%,
            #8437F9 31%,
            #FF488B 55%,
            #FF488B 70%,
            #FF488B 83%,
            #FF7135 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-gradient2 {
    background: linear-gradient(to left,
            #8437F9 0%,
            #8437F9 6%,
            #8437F9 31%,
            #FF488B 55%,
            #FF488B 70%,
            #FF488B 83%,
            #FF7135 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.logo {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

.img-card img {
    border-radius: 12px;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 100;

}

.navbar {
    padding: 1.5em;
}

.navbar li {
    font-weight: 500;
    font-size: 16px;
}

.nav-container .menu {
    display: none;
}

.logo-nav {

    font-size: 38px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    color: var(--logo-color);
}

#desktop-icons {
    display: none;
}

#desktop-icons svg,
#mobile-icons svg {
    color: var(--text-color);
}

#mobile-icons {
    display: flex;
}

.nav-container.scrolled {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: var(--bg-color);
}

@media screen and (max-width: 990px) {
    .nav-container .menu {
        display: flex;
    }

    .nav-container .nav-list,
    .nav-container .download-text {
        display: none;
    }

    #desktop-icons {
        display: flex;
    }

    #mobile-icons {
        display: none;
    }

    button {
        padding: 12px;
    }


}

@media screen and (max-width: 768px) {

    section,
    nav {
        width: 90%;
    }

    .logo-nav {
        text-align: center;
        font-size: 24px;
    }

    .navbar {
        padding: 0.5em;
        width: calc(100% - 1em);
    }

    .logo-mobile {
        height: 16px;
        margin-right: 1.2em;
    }
}

.card-unique p {
    font-size: 20px;
    line-height: 160%;
}

@media screen and (max-width:768px) {


    .card-unique p {
        font-size: 16px;
    }
}

/* ----------------swiper hero section--------------- */

#hero-title .title-1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 104%;
    font-family: "Bricolage Grotesque", sans-serif;

}

#hero-bg {
    position: relative;
    background: transparent;

}

@media screen and (max-width: 768px) {
    #hero-bg {
        background: none;
    }
}

video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1em;
}


.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #ffffff;
    font-size: 1em !important;
    font-weight: 700;
}

.swiper-pagination-bullet {
    background-color: grey !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

#buy-now {
    max-width: 65%;
}



#hero-padding {
    padding-top: 140px;
}

.arrow1 {
    position: absolute;
    top: 15.5em;
    left: 0;
    cursor: pointer;
    z-index: 10;
    padding: 0.3em;
    background: #8437F9;
    border-radius: 50%;
    color: #ffffff
}

.arrow2 {
    position: absolute;
    top: 15.5em;
    right: 0;
    cursor: pointer;
    z-index: 10;
    padding: 0.3em;
    background: #8437F9;
    border-radius: 50%;
    color: #ffffff
}

@media screen and (max-width:990px) {
    #buy-now {
        max-width: 100%;
    }

    #hero-padding {
        padding-top: 80px;
    }

    .main-img img {
        /* max-width: 80%; */
        height: auto;
    }

}

@media screen and (max-width:990px) {

    .arrow1,
    .arrow2 {
        top: 10em;
        top: 10em;
    }
}

/* ----------------------------section title-------------- */
.section-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.highlight-text {
    position: relative;
    z-index: 2;
}

.highlight-text::after {
    content: "";
    width: 100%;
    height: 25px;
    background-image: url('/assets/svg/text.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -8px;
    left: 0;
    z-index: -1;
}

@media screen and (max-width:1250px) {
    .section-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .section-title {
        font-size: 32px;
    }

    #hero-title .title-1 {
        font-size: 30px;
    }
}

/* ----------------------------section title end-------------- */

/* --------------benifit section---------- */
.mobile-show {
    display: none;
}

.text-start {
    text-align: start;
}

@media screen and (max-width: 768px) {
    .mobile-show {
        display: block;
    }

    .hide-mobile {
        display: none !important;
    }

    .text-start {
        text-align: center;
    }
}

/* -------worried section--------- */
#blur-bg {
    background: transparent;
    background: url('/assets/svg/worried-bg.svg') no-repeat;
    background-size: cover;
}

/* .cards {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
} */

.cards .card {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding: 25px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    /* semi-transparent background */
    backdrop-filter: blur(10px);
    /* blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* optional: border to enhance the glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* optional: subtle shadow for depth */
}

@media screen and (max-width: 768px) {

    .cards .card {
        width: 280px;
    }
}


.cards .card img {
    max-width: 100%;
    margin: 0;
}

.cards .card h3 {
    font-size: 24px;
}

.cards .card p {
    margin-top: 16px;
    margin-bottom: 20px;
    line-height: 135%;
}

.features p {
    margin-top: 2.5em;
    line-height: 160%;
    max-width: 938px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .feature-order .feature-img {
        order: 1;
    }

    .feature-order .feature-heading {
        order: 0;
    }

    .cards .card h3 {
        font-size: 24px;
    }

    .card-title {
        font-size: 24px;
    }
}

/* --no more section---- */
#no-app-bg {
    background: transparent;
    background: url('/assets/svg/no-more-app-bg.svg') no-repeat;
    background-size: cover;
}

.no-more-img {
    max-width: 30%;
    margin: auto;
    ;
}

.no-more-head {
    margin-bottom: -2.5em;
    padding-top: 2em;
}

@media screen and (max-width:768px) {
    .no-more-img {
        max-width: 100%;
    }

    .no-more-head {
        margin-bottom: 0em;
        padding-top: 2em;
    }

}

/* -----automatic section ----*/

.bg-class {
    background: transparent;
    background: url('/assets/svg/automatic-call-bg.svg') no-repeat;
    background-size: cover;
    border-radius: 1em;
}

/* -----------review cards -----------*/


.review-cards .review-card {
    width: 290px;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width:380px) {
    .review-cards .review-card {
        width: 250px;
    }
}

.review-cards .review-card h2 {
    font-size: 21px;
    font-weight: 500;
}

.review-cards .review-card p {
    font-size: 16px;
    line-height: 150%;
}

.review-cards .review-card .review-star {
    margin-top: 1em;
}

.review-cards .review-card .review-profile img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.review-cards .review-card .review-star img {
    width: 24px;
    height: 24px;

}

@media screen and (max-width:768px) {
    .review-cards .review-card {
        width: 276px;
        padding: 25px;
    }

    .review-cards .review-card h2 {
        font-size: 19px;
        font-weight: 500;
    }

    .review-cards .review-card p {
        font-size: 14px;
    }
}

/* --------emergency----------- */
.emergency {
    background: var(--card-box);
    /* Adjust transparency for glass effect */
    border: 1px solid var(--card-border);
    border-radius: 1.2em;
    overflow: hidden;

}

.emergency img {
    width: 624px;
    height: 560px;
}

.mobile-padding {
    padding: 20px;
    width: calc(100% - 48px);
}

.emergency button {
    font-size: 14px;
}

@media screen and (max-width:1200px) {
    .emergency {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:768px) {

    .emergency img {
        width: auto;
        height: auto;
    }

    .emergency button {
        display: flex;
        justify-content: center;
        align-self: center;
    }

}

/* ---automatic=---- */
.automatic-code {
    height: 504px;
}

.automatic-code.special-order2 {
    height: 456px;
}

@media screen and (max-width:768px) {
    .automatic-code .special-order2 {
        height: auto;

    }

    .automatic-code.special-order2 {
        height: auto;
    }

    #automatic-section .special-order1 {
        order: 0;

        padding-top: 2em;
        padding-bottom: 2em;
        /* padding: 24px !important;
        padding-bottom: 0 !important; */
    }

    #automatic-section .special-order2 {
        order: 1;
        padding: 24px !important;
    }
}

/* ---assign to driver */
.assign-driver {
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 1.2em;
}

.assign {
    background: linear-gradient(to bottom,
            #A2CEFF 0%,
            #FBDBFF 100%);
   
}

/* -------------faq-------------- */
.question-box {
    color: var(--text-color);
    background: var(--bg-box-color);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    background: rgba(250, 250, 250, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.question {
    width: 90%;
    font-size: 20px;
    font-weight: 500;

}

.question-box:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .question {
        font-size: 1em;
    }
}

.ans {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.5s ease-in-out;
}

.ans p {
    padding: 0em 1.5em 1.5em 1.5em;
    width: calc(100% - 3em);
    font-weight: 400;

}

.question-box .minus {
    display: none;
}

.question-box.active .ans {
    max-height: 30em;
}

.question-box.active .minus {
    display: flex;
}

.question-box.active .plus {
    display: none;
}


/* -----download section-------- */

.download-section {
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 1em;
    color: #ffffff;
    font-family: "Bricolage Grotesque", sans-serif;
}
@media screen and (max-width: 768px) {
  
    .download-wrapper{
        background: #8437F9;
    }
}
.download-section h2 {
    font-size: 56px;
}

.download-section p {
    font-size: 18px;
    line-height: 110%;
    max-width: 60%;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
    font-family: "Roboto", sans-serif;

}

.download-section button {
    padding: 0;
}


@media screen and (max-width: 768px) {
    .section-title {
        text-align: center;
    }

    .download-section {
        padding: 1em;
    }

    .download-section h2 {
        font-size: 28px;
    }

    .download-section p {
        max-width: 100%;
        font-size: 16px;

    }

    .download-section button {
        width: 100%;
        background-color: black;
        padding: 0;
    }
}

/* ------------footer------------ */
/* footer */
.footer {
    padding-top: 100px;
    padding-bottom: 35px;
}

.footer h3 {
    font-weight: 600;
}

.footer img {
    max-width: 70%;
}

.logo-codebell svg {
    color: var(--primary-color);
}

.dark #supportLink img,
.dark #businessLink img {
    filter: invert(1);
}

.footer p {
    cursor: pointer;
    font-weight: 400;
    color: var(--text-color);
}

.follow-button:hover {
    scale: 1.1;
}

.follow-button svg {

    color: rgb(255, 253, 255);
}

.social-links-company {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.social-links-company svg {
    transition: var(--transition);
}

.social-links-company svg {
    color: var(--primary-color);
}

a {
    color: var(--text-color);
}

.footer-bottom p,
.footer-bottom a {
    font-size: 0.8em;
    color: var(--sub-text-color);
}

@media screen and (max-width:768px) {

    .footer-bottom p,
    .footer-bottom a {
        font-size: 0.8em;
    }
}




/* --------price-- */
.price {
    font-size: 40px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.price .original-price {
    font-size: 20px;
    font-weight: 400;
    text-decoration: line-through;
    margin-top: 0.5em;
    text-decoration-color: red;
}

@media screen and (max-width:768px) {
    .price {
        font-size: 30px;
    }

    .price .original-price {
        font-size: 18px;
    }
}

/* -------home link page--------- */
.home-second-fold-wrapper {
    z-index: 5;
}

.home-second-fold {
    height: 80vh;
}

.home-second-fold h1 {
    font-size: 66px;
    font-family: "Montserrat Alternates", sans-serif;
    color: var(--logo-color);

}

.home-second-fold p {
    line-height: 160%;
    font-size: 24px;
    max-width: 1063px;
    text-align: center;
}

.home-second-fold h3 {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .home-second-fold {
        height: 50vh;

    }

    .home-second-fold h1 {
        font-size: 32px;

    }

    .home-second-fold p {

        font-size: 18px;
        max-width: 100%;
    }

    .home-second-fold h3 {
        font-size: 20px;
    }
}